<header class="flex items-center justify-between px-16 py-12">
	<a href="/">
		<img src="https://res.cloudinary.com/wommy/w_320/RBJ/rbj7_d6fkmo.png" alt="rare bits jewelry logo">
	</a>
	<nav>
		<a href="/">shop</a>
		{%- for each in [ "chrysocolla", "turquoise", "more", "metals", "about", "custom", "news" ] %}
		<a {% if each == page.url %}class="active"{% else %}href="/{{ each }}"{% endif %}>{{ each }}</a>
		{%- endfor %}

	{# :hover subNav 
		<nav>
			<a href="/featured">featured</a>
			<a href="/chrysocolla">chrysocolla</a>
			<a href="/no-8-turquoise">no. 8 turquoise</a>
			<a href="/white-buffalo-turquoise">white buffalo turquoise</a>
			<a href="/more-stones">more stones</a>
			<a href="/sterling-silver">sterling silver</a>
			<a href="/sale">sale</a>
		</nav>
	#}

</header>
