{#
<header>
</header>
#}
<header class="flex items-center justify-between px-16 py-12">
	<a href="/">
		<img src="https://res.cloudinary.com/wommy/w_320/RBJ/rbj7_d6fkmo.png" alt="rare bits jewelry logo">
	</a>
	<nav>
		{%- for key, url in { "shop": "/", "about": "/about", "custom order": "/custom-order", "news": "/news" } %}
		<a {% if url == page.url %}class="active"{% else %}href="{{ url }}"{% endif %}>{{ key }}</a>
		{%- endfor %}

	{# :hover subNav 
		<nav>
			<a href="/featured">featured</a>
			<a href="/chrysocolla">chrysocolla</a>
			<a href="/no-8-turquoise">no. 8 turquoise</a>
			<a href="/white-buffalo-turquoise">white buffalo turquoise</a>
			<a href="/more-stones">more stones</a>
			<a href="/sterling-silver">sterling silver</a>
			<a href="/sale">sale</a>
		</nav>
	#}

</header>
