---
layout: _base
---
<main>
	<img src="" alt="circle logo">
	<p>RARE, IN EVERY LITTLE WAY</p>
	<p>To be rare, by definition is;</p>
	<p>not to occur very often,</p>
	<p>something good or remarkable,</p>
	<p>few and far between,</p>
	<p>thin on the ground,</p>
	<p>like gold dust</p>
	<p>Every and every piece is uniquely designed and handcrafted, featuring .925 sterling silver and gemstones from some of what we think are the rarest and most unique mines the earth can offer. All work is artisan crafted, in the long-loved tradition of hand forming and bench silversmithing, every detail is apart of the Art. It is our greatest pleasure to bring exquisitely uncommon, yet effortlessly simple articles of adornment to you and your loved ones.</p>
	<p>Let us make something rare for you.</p>
	<div>
		<a href="//instagram.com/rarebitsjewelry">
			<img src="" alt="ig">
		</a>
		<a href="//facebook.com/rarebitsjewelry">
			<img src="" alt="fb">
		</a>
	</div>
</main>