---
layout: _base
---
<main class="w-10/12 mx-auto flex flex-col items-center">
	<h3 class="mt-24 text-5xl">CHRYSOCOLLA</h3>
	<div class="flex flex-wrap">
		{%- for each in collections.chrysocolla %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
			<p>${{each.data.price}}.00</p>
		</div>
		{%- endfor %}
	</div>
</main>
