---
layout: _base
---
<main>
	<form action="">
		<h1>custom order request form</h1>
		<span>Name *</span>
		<div>
			<label>
				<input type="text">
				<span>First Name</span>
			</label>
			<label>
				<input type="text">
				<span>Last Name</span>
			</label>
		</div>
		<label>
			<span>Email *</span>
			<input type="email">
		</label>
		<label>
			<span>Subject *</span>
			<input type="text">
		</label>
		<label>
			<span>Message *</span>
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</label>
		<input type="submit"">
	</form>
	<div>
		<h2>showroom</h2>
		<address>
			<span>22801 Woodward Avenue</span>
			<span>Ferndale, MI, 48220</span>
			<span>United States</span>
		</address>
		<iframe src="" frameborder="0">
			google maps
		</iframe>
	</div>
</main>