---
layout: _base
---
<main class="w-10/12 mx-auto flex flex-col items-center">
	<h3 class="text-5xl">FEATURED PRODUCTS</h3>
	<div class="mt-24 flex flex-wrap">
		{%- for each in collections.featured %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
			<p>${{each.data.price}}.00</p>
		</div>
		{%- endfor %}
	</div>
	<h3 class="mt-24 text-5xl">CHRYSOCOLLA</h3>
	<div class="flex flex-wrap">
		{%- for each in collections.chrysocolla %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
		</div>
		{%- endfor %}
	</div>
	<h4>turquoise</h4>
	<div class="flex flex-wrap">
		{%- for each in collections.turquoise %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
		</div>
		{%- endfor %}
	</div>
	<h4>misc gems</h4>
	<div class="flex flex-wrap">
		{%- for each in collections.other %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
		</div>
		{%- endfor %}
	</div>
	<h4>metal</h4>
	<div class="flex flex-wrap">
		{%- for each in collections.metal %}
		<div class="w-1/4">
			<img src="{{each.data.img}}">
			<p>{{each.data.title}}</p>
		</div>
		{%- endfor %}
	</div>
{#
	<div>
		<h3>by style</h3>
		<div class="mt-4 flex">
			<div>
				<div>
					<h4>bracelet</h4>
					{%- for each in collections.bracelet %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>necklace</h4>
					{%- for each in collections.necklace %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
			<div>
				<div>
					<h4>earring</h4>
					{%- for each in collections.earring %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>ring</h4>
					{%- for each in collections.ring %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
		</div>
	</div>
#}
</main>
