---
layout: _base
---
<main class="flex w-10/12 mx-auto justify-evenly">
	<div>
		<h3>all</h3>
		<div class="mt-4 flex">
			<div>
				<div>
					<h4>metal</h4>
					{%- for each in collections.metal %}
					<div>
						<img src="{{each.data.img}}">
					</div>
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>turquoise</h4>
					{%- for each in collections.turquoise %}
					<div>
						<img src="{{each.data.img}}">
					</div>
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
			<div class="m-4">
				<div>
					<h4>misc gems</h4>
					{%- for each in collections.other %}
					<div>
						<img src="{{each.data.img}}">
					</div>
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>chrysocolla</h4>
					{%- for each in collections.chrysocolla %}
					<div>
						<img src="{{each.data.img}}">
					</div>
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
		</div>
	</div>
	<div>
		<h3>by style</h3>
		<div class="mt-4 flex">
			<div>
				<div>
					<h4>bracelet</h4>
					{%- for each in collections.bracelet %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>necklace</h4>
					{%- for each in collections.necklace %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
			<div>
				<div>
					<h4>earring</h4>
					{%- for each in collections.earring %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
				<div class="mt-4">
					<h4>ring</h4>
					{%- for each in collections.ring %}
					<p>{{each.data.title}}</p>
					{%- endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
